.ability-scores {
  @include flex-row;
  @include space-between;
}

.ability-score {
  @include flex-col;
  @include align-center;

  padding: .5em;
}

.cursive {
  font-style: italic;
}

.form-group {
  margin-block: .25em;

  label {
    margin-right: .5em;
  }

  & span.error {
    display: block;
    color: $hard;
    margin-top: .25em;
    font-size: .9em;
  }
}

.flex-col {
  @include flex-col;
}

.flex-row {
  @include flex-row;
}

.rectangle {
  @include rectangle;
}

.stat-block {
  max-width: 400px;
  font-size: .9em;
  margin-bottom: 1em;

  label {
    font-weight: bold;
  }

  hr {
    margin-block: .35em;
  }

  footer {
    @include flex-row;
    @include space-between;
    margin-top: .5em;
  }
}

.stat-group {
  margin-block: 0.25em;

  label {
    text-transform: capitalize;
    margin-right: .25em;
  }
}


/* MARGINS */
.m-1 { margin: 1em; }
.mlr { margin-inline: 1em; }
.mtb { margin-block: 1em; }

/* PADDING */