a {
  text-decoration: none;
  color: $hard;

  &:hover {
    text-decoration: underline;
  }
}

input[type], textarea, select {
  padding: .5em;
  border: 1px solid $border-color;
  border-radius: 5px;
}

textarea {
  min-height: 250px;
}